.row
	.col-xs-6
		h2 {{neighborhood.name}}
		#map
	.col-xs-2.col-xs-offset-2
		form(name='tripForm', novalidate)
			h3 Add a House
			.form-group
				label(for='address') Address
				input.form-control(type='text', name='address', ng-model='house.address')
				label(for='price') Price
				input.form-control(type='number', name='price', ng-model='house.price')
				label(for='bedrooms') Square Ft.
				input.form-control(type='number', name='bedrooms', ng-model='house.sqft')
				label(for='bedrooms') Bedrooms
				input.form-control(type='number', name='bedrooms', ng-model='house.bedrooms')
				label(for='bathrooms') Bathrooms
				input.form-control(type='number', name='bathrooms', ng-model='house.bathrooms')
				label(for='photo') House Photo
				input.form-control(type='url', name='photo', ng-model='house.photo')
			.form-group
				img#house-photo(ng-src='{{house.photo}}')
			.form-group
				button.btn.btn-default(type='submit', ng-click='createHouse(house)') Add House
.row
	.col-xs-6.col-xs-offset-3
	table.table.table-striped
		thead
			tr
				th Photo
				th Address
				th Price
				th Square Ft.
				th Bedrooms
				th Bathrooms
				th Edit
				th Delete
		tbody
			tr(ng-repeat='house in houses')
				td: img#house-photo(ng-src='{{house.photo}}')
				td {{house.address | uppercase}}
				td {{house.price | currency}}
				td {{house.sqft}}
				td {{house.bedrooms}}
				td {{house.bathrooms}}
				td: button.btn.btn-xs.btn-link(ng-click='editHouse(house)') Edit
				td: button.btn.btn-xs.btn-warning(ng-click='destroyHouse(house)') X
