h4 NEIGHBORHOODS

.row
	.col-xs-4.col-xs-offset-4
		form(name='neighborhoodForm', novalidate)
			.form-group
				label(for='name') Name / Zip Code
				input.form-control#name(type='text', name='name', ng-model='neighborhood.name')
				button.btn.btn-default(type='submit', ng-show='!editing', ng-click='createNeighborhood(neighborhood)') Add Neighborhood
				button.btn.btn-default(type='submit', ng-show='editing', ng-click='updateNeighborhood(neighborhood)') Update
	

.row
	.col-xs-8.col-xs-offset-2
		table.table.table-sneighborhooded
			thead
				tr
					th Show
					th City/Zip
					th Houses
					th 
					th Delete
					
			tbody
				tr(ng-repeat='neighborhood in neighborhoods')
					td: button.btn.btn-xs.btn-info(ui-sref='neighborhoods.show({neighborhoodId: neighborhood._id})') Show
					td {{neighborhood.name}}
					td {{neighborhood.houses.length}}
					td: button.btn.btn-xs.btn-link(ng-show='isEdit', ng-click='editNeighborhood(neighborhood)') Edit
					td: button.btn.btn-xs.btn-danger(ng-show='isDelete', ng-click='deleteNeighborhood(neighborhood)') X
